*/Build
*/Intermediate
*/Binaries
*/DerivedDataCache
*/Saved
EscapeRoomProject/Content/StarterContent/
*.db
EscapeRoomProject/.vs/EscapeRoomProject/v15/ipch/AutoPCH/7f6928ce2c662a7c/POSITIONREPORT.ipch
